.top {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 999;
  font-family: "Josefin Sans", sans-serif;
  /* background-color: whitesmoke; */
}

.topLeft,
.topRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 420px) {
  .topLeft{
    display: none;
  }

  .topCenter{
    display: flex;
  }
}

.topLeft {
  font-size: 18px;

  color: #222222;
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

.topCenter {
  flex: 6;
  margin-left: 23px;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem {
  margin-right: 20px;
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
  color: #222222;
  font-weight: bolder;
}

.topListItem:hover {
  color: darkgray;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
}

.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}
