.register {
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.5)
    ),
    url("/logo.png");
  background-size: cover;
  font-family: cursive;
}

.registerTitle {
  font-size: 30px;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
}
.registerForm > input {
  border-radius: 10px;
  padding: 12px;
  background: transparent;
  border: solid 2px;
  width: 300px;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.registerInput:focus {
  outline: none;
}

.companyLogo {
  position: absolute;
  top: 30px;
  font-size: 20px;
  font-family: cursive;
  left: 30px;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: black;
  border-radius: 10px;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: lightcoral;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
}
